<% provide(:title, @team.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
		<h1> <%= @team.name %> </h1>
		City : <%= @team.city %> <br>
		Captian : <%= @team.captian %> <br>
		Spirit Captian : <%= @team.spiritcaptian %> <br>
		Country : <%= @team.country %>
      </h1>
    </section>
  </aside>
</div>



