    <tr>
    	  <td> 
          <%= score.game %> 
        </td>
    	  <td> 
          <%= score.by_team_id %> 
        </td>
    	  <td> 
          <%= score.rules %> 
        </td>
        <td> 
          <%= score.fouls %> 
        </td>
        <td> 
          <%= score.fair_mind %> 
        </td>
        <td> 
          <%= score.positivity %>  
        </td>
        <td> 
          <%= score.communication %>  
        </td>
    </tr>


